body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

#pokemonContainer {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: inline-block;
  transition: background-color 0.3s ease;
}

#loader {
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.hidden {
  display: none;
}

