body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
    color: #333; 
  transition: background-color 0.3s, color 0.3s;  
}

.search-container {
  margin-bottom: 20px;
}

#pokemonContainer {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: inline-block;
  transition: background-color 0.3s ease;
}

#loader {
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.hidden {
  display: none;
}
.stat {
  text-align: left;
  margin: 12px 0;
}

.stat-header {
  font-size: 14px;
  margin-bottom: 4px;
}

.stat-bar {
  background-color: #e0e0e0;
  border-radius: 6px;
  height: 16px;
  width: 100%;
  overflow: hidden;
}

.stat-fill {
  height: 100%;
  border-radius: 6px;
  width: 0; 
  transition: width 1s ease-out;
}

.hidden {
  display: none;
}
.navbar {
  background-color: #676d0f;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #00bcd4;
}
ody.dark-mode {
  background-color: #333333; 
  color: #f2f2f2; 
}

body.dark-mode #pokemonContainer {
  background-color: #555; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}


.theme-switcher button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.theme-switcher button:hover {
  background-color: #0056b3;
}

body.dark-mode .theme-switcher button {
  background-color: #666;
}

body.dark-mode .theme-switcher button:hover {
  background-color: #888;
}


button {
  background-color: #4CAF50; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

